:root {
	--primary-color: #0A2472;
	--main-color: #222C43;
}

*::-webkit-input-placeholder {
	color: #313638;
	opacity: 1;
}
*:-moz-placeholder {
	color: #313638;
	opacity: 1;
}
*::-moz-placeholder {
	color: #313638;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #313638;
	opacity: 1;
}

body {
	font-family: 'HelveticaNeueCyr', sans-serif;
	font-size: 16px;
	line-height: 140%;
	color: var(--main-color);
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
*:link,
*:visited,
*:hover,
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}


.container {
	padding: 0 20px;
	max-width: 100%;
}

.header {
	top: 0;
	left: 0;
	width: 100%;
	position: sticky;
	z-index: 500;
	background: #fff;
	transition: all 0.5s;
}
.header__wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	align-items: center;
}
.header__center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img {
	width: 117px;
}
.header__bottom {
	margin-top: 8px;
	border-top: 1px solid rgba(34, 44, 67, 0.1);
}
.header__info {
	line-height: 140%;
}
.open-search {
	width: 20px;
	height: 20px;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px auto;
}
.header__right {
	gap: 110px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.menu {
	position: relative;
}
.menu__list {
	gap: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu__list>li {
	padding: 18px 0;
	gap: 16px;
	display: flex;
	align-items: center;
}
.menu__list>li>a {
	line-height: 100%;
	text-transform: uppercase;
	color: var(--main-color);
	border-bottom: 1px transparent solid;
	display: block;
}
.menu__list>li>i {
	width: 24px;
	height: 24px;
	font-size: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.billbord {
	padding-top: 53px;
	padding-bottom: 25px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	background: #fff;
}
.billbord__background {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 3700px;
	height: 3700px;
	z-index: -1;
	background-image: url(../img/bg_billbord1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	animation: rotate-circle 3s linear infinite;
}
@keyframes rotate-circle {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.billbord__title {
	font-size: 128px;
	margin-bottom: -50px;
	line-height: 110%;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
}
.billbord__title strong {
	font-size: 96px;
	line-height: 110%;
	text-transform: uppercase;
	font-weight: 500;
	display: block;
}
.billbord__system {
	width: 610px;
	height: 482px;
	position: relative;
	margin: 0 auto;
	margin-top: -50px;
}
.billbord__image img {
	width: 100%;
	height: auto;
}
.billbord__orbit::before {
	position: absolute;
	display: block;
	content: " ";
	width: 977px;
	height: 314px;
	top: 105px;
	left: -245px;
	background-image: url(../img/orbit.svg);
	background-size: contain;
}
.billbord__item {
	font-size: 20px;
	line-height: 140%;
	font-weight: 500;
	position: absolute;
}
.billbord__item::before {
	position: absolute;
	display: block;
	content: " ";
	width: 30px;
	height: 30px;
	left: 0;
	top: 0;
	background-image: url(../img/cricle_item.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.billbord__item:nth-child(2)::before,
.billbord__item:nth-child(3)::before {
	right: 0;
	left: auto;
}
.billbord__item:nth-child(1) {
	top: 288px;
	padding-left: 48px;
	margin-left: 102px;
	width: 213px;
	left: 100%;
	animation: firstitem linear 5s infinite;
}
.billbord__item:nth-child(2) {
	animation: seconditem linear 5s infinite;
}
.billbord__item:nth-child(3) {
	animation: thirditem linear 7s infinite;
}
@keyframes firstitem {
	0% {
		transform: translateY(10px) translateX(5px);
	}

	50% {
		transform: translateY(50px) translateX(-15px);
	}

	100% {
		transform: translateY(10px) translateX(5px);
	}
}
@keyframes seconditem {
	0% {
		transform: translateX(-60px) translateY(-30px);
	}

	50% {
		transform: translateX(-30px) translateY(-10px);
	}

	100% {
		transform: translateX(-60px) translateY(-30px);
	}
}
@keyframes thirditem {
	0% {
		transform: translate(0px, 0px);
	}

	30% {
		transform: translate(35px, -30px);
	}

	50% {
		transform: translate(70px, -50px);
	}

	70% {
		transform: translate(35px, -30px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}
.billbord__item:nth-child(2) {
	top: 306px;
	padding-right: 48px;
	margin-right: 100px;
	width: 165px;
	right: 100%;
}
.billbord__item:nth-child(3) {
	top: 170px;
	padding-right: 48px;
	margin-right: 222px;
	width: 181px;
	right: 100%;
	text-align: right;
}

.breadcrumbs {
	padding: 26px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: var(--main-color);
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: var(--main-color);
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.brands {
	padding: 0 130px;
	gap: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.brands__item {
	height: 76px;
	padding: 7px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 1px solid transparent;
}
.brands__item.active {
	border-color: rgba(10, 36, 114, 0.3);
}
.brands__item img {
	max-width: 100%;
	max-height: 100%;
}
.sorting-catalog {
	margin: 40px 0;
	padding-bottom: 12px;
	border-bottom: 1px solid #e9eaed;
}
.sorting-catalog select {
	height: 24px;
	padding-right: 40px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: transparent;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: right center;
}
.sorting-catalog select::-ms-expand {
	display: none;
}
.row>div {
	padding: 0 12px;
}
.row {
	margin: 0 -12px;
}
.row.row_main>div {
	margin-bottom: 24px;
}
.row.row_main {
	margin-bottom: -24px;
}
.item-catalog {
	border-radius: 10px;
	box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	transition: all 0.3s;
}
.item-catalog__image {
	padding-top: 100%;
	position: relative;
	display: block;
}
.item-catalog__image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
}
.item-catalog__slider {
	width: 100%;
}
.item-catalog__content {
	padding: 0px 12px 12px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
.item-catalog__title {
	font-size: 20px;
	margin-bottom: 16px;
	line-height: 140%;
	font-weight: 500;
	display: block;
	width: 100%;
	color: #0A2472;
}
.features__item {
	gap: 18px;
	margin-bottom: 3px;
	display: flex;
	align-items: center;
}
.features__item:last-child {
	margin-bottom: 0;
}
.features__icon {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	background: #e9eaed;
	transition: transform 0.3s ease;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.06);
	}
	100% {
		transform: scale(1);
	}
}
.features__icon img {
	width: 24px;
	height: auto;
}
.properties,
.features {
	margin-bottom: 20px;
	width: 100%;
}
.properties__item {
	padding: 10px 0;
	border-bottom: 1px solid rgba(34, 44, 67, 0.1);
	gap: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.properties__value {
	font-weight: 500;
}
.properties__item:first-child {
	border-top: 1px solid rgba(34, 44, 67, 0.1);
}
.btn-main {
	height: 57px;
	padding: 0 24px;
	gap: 16px;
	font-weight: 500;
	color: #fff;
	border-radius: 6px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
	background: var(--primary-color);
	font-family: 'HelveticaNeueCyr';
	font-size: inherit;
}
.btn-main img {
	width: 24px;
	flex: none;
}
.item-catalog .btn-main {
	margin-top: auto;
	width: 100%;
	display: flex;
}
.content-card .item-catalog .btn-main {
	width: 100%;
}
.labels {
	gap: 3px;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	align-items: center;
	z-index: 2;
}
.labels__item {
	padding: 12px 24px;
	background: var(--primary-color);
	border-radius: 0 8px 8px 8px;
	color: #fff;
}
.slider-sertificats:not(.slick-initialized)>*:not(:first-child),
.slider-photos:not(.slick-initialized)>*:not(:first-child),
.slider-card:not(.slick-initialized)>*:not(:first-child),
.item-catalog__slider:not(.slick-initialized)>*:not(:first-child) {
	display: none;
}
.slider-sertificats .slick-track,
.slider-photos .slick-track,
.slider-card .slick-track,
.item-catalog__slider .slick-track {
	display: flex !important;
}
.slider-sertificats .slick-slide,
.slider-photos .slick-slide,
.slider-card .slick-slide,
.item-catalog__slider .slick-slide {
	height: inherit !important;
}
.slick-arrow {
	width: 24px;
	height: 24px;
	font-size: 18px;
	color: var(--main-color);
	top: 50%;
	position: absolute;
	transition: all 0.3s;
	cursor: pointer;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-prev {
	left: 10px;
}
.slick-next {
	right: 10px;
}
.item-catalog__slider .slick-arrow {
	top: 35%;
}
.consultation__image {
	height: 616px;
	width: 100%;
}
.consultation__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.consultation {
	padding-top: 36px;
	padding-bottom: 50px;
}
.consultation__main {
	background: var(--primary-color);
	color: #fff;
}
.consultation__title {
	font-size: 32px;
	margin-bottom: 24px;
	line-height: 100%;
	font-weight: 500;
}
.consultation__descr {
	margin-bottom: 58px;
	line-height: 130%;
	font-weight: 500;
}
.consultation__form {
	max-width: 508px;
	margin: 0 auto;
}
.item-form {
	margin-bottom: 12px;
}
.item-form input {
	height: 54px;
	padding: 0 20px;
	font-size: inherit;
	border-radius: 3px;
	width: 100%;
	background: #fff;
	line-height: 140%;
	border: none;
	font-weight: 300;
	font-family: 'HelveticaNeueCyr';
	color: var(--main-color);
}
.consultation__buttons {
	padding-top: 24px;
	gap: 9px;
	display: flex;
	align-items: center;
}
.consultation__buttons .btn-main {
	height: 68px;
	gap: 16px;
	padding: 0 10px;
	flex: 1;
}
.btn-main.btn-main--secondary img {
	filter: brightness(0) invert(1);
}
.btn-main.btn-main--secondary {
	border: 1px solid #fff;
	background: transparent;
}
.checkbox {
	font-size: 12px;
	margin-top: 21px;
	line-height: 140%;
	color: #e9eaed;
}
.checkbox a {
	color: #e9eaed;
	border-bottom: 1px #e9eaed solid;
}
.checkbox label {
	gap: 10px;
	position: relative;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}
.checkbox label input {
	width: 19px;
	height: 19px;
	border: none;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #e9eaed;
	position: relative;
	flex: none;
	cursor: pointer;
}
.checkbox label input::before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	background-image: none;
	color: #e9eaed;
	font-size: 11px;
	opacity: 0;
	transition: .2s;
}
.checkbox input:checked:before {
	opacity: 1;
}
.consultation__form .checkbox {
	max-width: 470px;
}

.about {
	padding: 50px 0;
}
.about__item {
	padding-top: 66%;
	position: relative;
	display: block;
}
.about__item-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.about__item-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 2s;
}
.about__item-image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(180deg, rgba(34, 44, 67, 0) 45.02%, #222C43 100%);
}
.about__item-title {
	font-size: 32px;
	padding: 35px 30px;
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	display: block;
	line-height: 100%;
	font-weight: 500;
	color: #fff;
	z-index: 2;
}

.footer {
	padding-top: 24px;
	background: var(--main-color);
	font-weight: 300;
	color: #fff;
}
.footer__nav--big,
.footer__title {
	font-weight: 500;
}
.footer__title,
.footer__nav li {
	margin-bottom: 16px;
}
.footer__nav a {
	color: #fff;
	border-bottom: 1px solid transparent;
}
.footer__contacts {
	gap: 15px;
	margin-top: 16px;
	line-height: 130%;
	display: flex;
	align-items: flex-start;
}
.footer__phones a {
	color: #fff;
	font-weight: 500;
}
.socials-list {
	gap: 15px;
	display: flex;
	align-items: center;
}
.socials-list img {
	width: 20px;
	height: auto;
}
.row_footer>div:not(:first-child) .footer__column {
	padding-top: 50px;
}
.footer .logo img {
	width: 158px;
}
.footer__requisites {
	margin-top: 40px;
}
.footer__bottom {
	padding: 24px 0;
	margin-top: 75px;
	font-size: 14px;
	line-height: 150%;
	color: #c4c4c4;
	border-top: 1px solid #c4c4c4;
}
.footer__wrapper {
	padding-left: 105px;
	gap: 135px;
	display: flex;
	align-items: center;
}
.footer__links a {
	color: #c4c4c4;
	border-bottom: 1px #c4c4c4 solid;
}
.footer__links {
	gap: 15px;
	display: flex;
	align-items: center;
}
.create img {
	width: 57px;
	margin-left: 4px;
	display: inline-block;
	vertical-align: middle;
}
.row_footer>div:nth-child(1) .footer__column {
	padding-left: 105px;
}
.row_footer>div:nth-child(4) .footer__column,
.row_footer>div:nth-child(2) .footer__column {
	padding-left: 55px;
}
.row_footer>div:nth-child(3) .footer__column {
	padding-left: 50px;
}
.tab-pane-catalog {
	display: none;
}
.tab-pane-catalog:nth-child(1) {
	display: block;
}
.brand-2 .labels__item,
.brand-2 .consultation__main,
.brand-2 .item-catalog .btn-main {
	background: #d20a11;
}
.brand-3 .labels__item,
.brand-3 .consultation__main,
.brand-3 .item-catalog .btn-main {
	background: #0099a5;
}
.brand-4 .labels__item,
.brand-4 .consultation__main,
.brand-4 .item-catalog .btn-main {
	background: #952647;
}
.brand-5 .labels__item,
.brand-5 .consultation__main,
.brand-5 .item-catalog .btn-main {
	background: #f39200;
}
.brands-main {
	top: 171px;
	padding: 1px 0;
	position: sticky;
	left: 0;
	width: 100%;
	z-index: 200;
	background: #fff;
}
.menu__dropdown {
	padding: 27px 108px;
	padding-bottom: 60px;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	width: 100%;
	transition: all 0.2s;
	opacity: 0;
	visibility: hidden;
	max-height: calc(100vh - 155px);
	overflow: auto;
}
.menu__dropdown::-webkit-scrollbar {
	-webkit-appearance: none;
}
.menu__dropdown::-webkit-scrollbar:vertical {
	width: 3px;
}
.menu__dropdown::-webkit-scrollbar:horizontal {
	height: 3px;
}
.menu__dropdown::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;
}
.menu__dropdown::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ccc;
}
.menu__list li:hover .menu__dropdown {
	visibility: visible;
	opacity: 1;
}
.menu__dropdown .brands {
	margin-bottom: 40px;
	padding: 0;
}
.tab-pane-menu {
	display: none;
}
.tab-pane-menu:first-child {
	display: block;
}
.menu__unit {
	gap: 44px;
	display: grid;
	grid-template-columns: 1fr 1.2fr;
}
.menu__grid {
	gap: 39px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.menu__title {
	font-size: 32px;
	margin-bottom: 24px;
	line-height: 140%;
	font-weight: 500;
	color: var(--primary-color);
	display: block;
}
.menu__content ul li a {
	padding: 20px 0px;
	font-size: 20px;
	line-height: 140%;
	font-weight: 500;
	display: block;
	border-bottom: 1px solid #e9eaed;
	color: var(--main-color);
}
.menu__image {
	height: 477px;
	display: block;
}
.menu__image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.page-news {
	padding-bottom: 50px;
}
.title-page {
	font-size: 40px;
	margin-top: 7px;
	margin-bottom: 29px;
	line-height: 130%;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
}
.item-news {
	margin: 0 8.5%;
	display: block;
	color: var(--main-color);
}
.item-news__image {
	height: 380px;
	margin-bottom: 17px;
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.item-news__top {
	display: block;
	position: relative;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 1s;
}
.item-news__content {
	padding: 0 36px;
	display: block;
}
.item-news__title {
	font-size: 36px;
	margin-bottom: 9px;
	line-height: 140%;
	font-weight: 500;
	display: block;
	color: var(--primary-color);
}
.item-news__date,
.item-news__text {
	display: block;
}
.item-news__top .item-news__date {
	left: 36px;
	bottom: 15px;
	position: absolute;
	z-index: 2;
}
.row.row_news>div {
	margin-bottom: 60px;
}
.row.row_news {
	margin-bottom: -60px;
}
.col-lg-12>.item-news {
	margin: 0 17%;
}
.col-lg-12>.item-news .item-news__content {
	gap: 45px;
	display: flex;
	align-items: flex-start;
}
.col-lg-12>.item-news .item-news__date {
	margin-top: 10px;
}
.item-news__text {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.pager {
	height: 30px;
	margin-top: 62px;
	gap: 42px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.page-numbers {
	font-size: 20px;
	line-height: 140%;
	font-weight: 500;
	color: var(--main-color);
}
.page-numbers.current {
	color: var(--primary-color);
}
.prev.page-numbers,
.next.page-numbers {
	width: 26px;
	height: 26px;
	font-size: 22px;
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.prev.page-numbers {
	left: 0px;
}
.next.page-numbers {
	right: 0px;
}

.page-card {
	padding-bottom: 60px;
}
.breadcrumbs.breadcrumbs_page {
	padding-top: 15px;
	padding-bottom: 42px;
	color: var(--primary-color);
}
.breadcrumbs a {
	color: var(--main-color);
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: var(--main-color);
}
.breadcrumbs li::after {
	content: ">";
}
.image-card {
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image-card img {
	max-width: 100%;
	max-height: 100%;
}
.title-card {
	font-size: 40px;
	margin-bottom: 20px;
	line-height: 140%;
	font-weight: 500;
}
.price-main {
	font-size: 24px;
	line-height: 140%;
	font-weight: 500;
	color: var(--primary-color);
}
.features.features--card {
	margin-bottom: 56px;
	gap: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.features.features--card .features__item {
	margin: 0;
}
.card-prices {
	margin-bottom: 36px;
}
.content-card .btn-main {
	width: 350px;
	max-width: 100%;
}
.content-card .dropdowns {
	margin-top: 57px;
}
.item-dropdown__plus {
	width: 24px;
	height: 24px;
	flex: none;
	position: relative;
}
.item-dropdown.active .item-dropdown__plus:before {
	transform: translatey(-50%) rotate(-90deg);
	opacity: 0;
}
.item-dropdown.active .item-dropdown__plus:after {
	transform: translatey(-50%) rotate(0);
}
.item-dropdown__plus:before,
.item-dropdown__plus:after {
	content: "";
	display: block;
	background-color: var(--primary-color);
	position: absolute;
	top: 50%;
	left: 0;
	transition: 0.35s;
	width: 14px;
	height: 2px;
	border-radius: 2px;
}
.item-dropdown__plus:before {
	transform: translatey(-50%);
}
.item-dropdown__plus:after {
	transform: translatey(-50%) rotate(90deg);
}
.item-dropdown {
	border-top: 1px solid #e9eaed;
}
.item-dropdown:last-child {
	border-bottom: 1px solid #e9eaed;
}
.item-dropdown__head {
	font-size: 18px;
	padding: 14px 0;
	gap: 15px;
	line-height: 140%;
	font-weight: 500;
	color: var(--primary-color);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.property {
	line-height: 160%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.property::after {
	position: relative;
	display: block;
	content: "............................................................................................................................................................................................................................................................................................................................................................................................................";
	flex: 1;
	overflow: hidden;
}
.property__value {
	order: 2;
	text-align: right;
}
.item-dropdown__content {
	padding-bottom: 20px;
	display: none;
}
.title-section {
	font-size: 32px;
	line-height: 130%;
	text-transform: uppercase;
	font-weight: 500;
}
.content-card {
	top: 175px;
	position: sticky;
}
.content-card__inner {
	margin-bottom: 65px;
	min-height: calc(100vh - 175px);
}
.page-card .title-section {
	margin-bottom: 24px;
}
.fancybox-infobar {
	display: none !important;
}

.article-main {
	height: 520px;
	padding: 40px 49px;
	margin-bottom: 42px;
	position: relative;
}
.article-main__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.article-main__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.article-main h1 {
	font-size: 40px;
	max-width: 695px;
	margin-top: 42px;
	line-height: 160%;
	text-transform: uppercase;
	font-weight: 500;
}
.article-content {
	max-width: 75%;
	line-height: 130%;
	margin: 0 auto;
}
.article-content strong {
	font-weight: 500;
}
.page-article {
	padding-bottom: 60px;
}
.article-content h2 {
	font-size: 24px;
	margin: 15px 0;
	line-height: 140%;
	font-weight: 500;
	color: var(--primary-color);
}
.article-content p {
	margin: 20px 0;
}
.slider-photos .slick-slide {
	padding: 0 12px;
}
.slider-photos .slick-list {
	margin: 0 -12px;
}
.slider-photos {
	padding: 0 51px;
	margin: 40px 0;
}
.slider-photos__item {
	padding-top: 57%;
	display: block;
	position: relative;
}
.slider-photos__item img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.feedback {
	padding: 55px 0;
}
.feedback__content {
	padding: 70px 8%;
	background: var(--primary-color);
	color: #fff;
}
.feedback__main {
	max-width: 472px;
}
.feedback .title-section {
	margin-bottom: 28px;
	text-transform: none;
}
.feedback__descr {
	line-height: 130%;
	font-weight: 500;
}
.feedback .btn-main {
	width: 100%;
}
.feedback .item-form {
	margin-bottom: 25px;
}
.feedback .checkbox {
	margin-top: 0;
}

.page-centers {
	padding-bottom: 60px;
}
.page-centers .title-section {
	padding-top: 45px;
	padding-bottom: 21px;
}
.item-location {
	padding-bottom: 24px;
	gap: 14px;
	border-bottom: 1px solid #e9eaed;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-location__title,
.item-location__phone {
	font-size: 20px;
	line-height: 140%;
	font-weight: 500;
}
.item-location__title {
	margin-bottom: 10px;
	color: var(--primary-color);
}
.item-location__contact {
	gap: 14px;
	display: flex;
	align-items: center;
}
.item-location img {
	width: 24px;
	height: auto;
	flex: none;
}
.item-location a {
	color: var(--main-color);
}
.item-location * {
	font-family: 'HelveticaNeueCyr';
}
#map {
	height: 716px;
	margin-top: 20px;
	width: 100%;
	background-color: #eeeff3;
}
#map .item-location {
	max-width: 380px;
	padding: 15px;
	border: none;
}
.page-contacts {
	padding-top: 42px;
	padding-bottom: 200px;
}
.page-contacts .title-section {
	margin-bottom: 32px;
}
.item-contact__location,
.item-contact__requisites {
	padding-bottom: 24px;
	border-bottom: 1px solid #e9eaed;
}
.item-contact__title,
.item-contact__phones {
	font-size: 32px;
	line-height: 140%;
	font-weight: 500;
}
.item-contact__title {
	margin-bottom: 20px;
	color: var(--primary-color);
}
.item-contact__location {
	margin-bottom: 28px;
}
.item-contact__phones a {
	color: var(--main-color);
}
.item-contact__phones {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-contact__requisites {
	font-size: 24px;
	line-height: 133%;
}
.form-page {
	padding: 44px 20px;
	background: var(--primary-color);
	color: #fff;
}
.form-page__content {
	max-width: 380px;
	margin: 0 auto;
}
.form-page__title {
	font-size: 32px;
	margin-bottom: 20px;
	line-height: 100%;
	font-weight: 500;
}
.form-page__descr {
	margin-bottom: 26px;
	line-height: 130%;
	font-weight: 500;
}
.form-page .btn-main {
	margin-top: 10px;
	width: 100%;
}
.rub-main {
	margin: 0 !important;
	padding: 0 !important;
	font-family: "Helvetica Neue", sans-serif !important;
}

.main-image {
	width: 610px;
	height: 480px;
	background-image: url(../img/billbord.png);
	margin: 0 auto;
	position: relative;
	background-size: contain;
}
.main-image::before {
	content: "";
	position: absolute;
	top: 61%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(13deg);
	width: 1200px;
	height: 60px;
	border-radius: 100%;
	border: 2px solid #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-bottom: none;
}
.circle {
	position: absolute;
	inset: var(--inset);
	width: 100px; 
	height: 100px;
	border-radius: 50%;
}
.circle-1 {
	--inset: auto auto -40px calc(50% + 430px);
	--inset-anim: auto auto calc(50% + 12px) -450px;
	--delay: 0s;
	--rotation-name: rotation-1;
}
.circle-3,
.circle-2 {
	--inset: auto auto calc(50% + -12px) -380px;
	--inset-anim: auto auto -40px calc(50% + 450px);
	--delay: 0s;
	--rotation-name: rotation-2;
}
.circle-3 {
	--delay: 1s;
}
.rotate {
	animation: var(--rotation-name) 10s linear infinite var(--delay, 0s);
}

@keyframes rotation-1 {
	25% {
		transform: scale(1.7);
	}
	50% {
		inset: var(--inset-anim);
	}
	75% {
		transform: scale(0.8);
	}
	100% {
		z-index: -1;
	}
}

@keyframes rotation-2 {
	25% {
		transform: scale(0.8);
		z-index: -1;
	}
	50% {
		inset: var(--inset-anim);
	}
	75% {
		transform: scale(2);
		z-index: auto;
	}
}

@keyframes rotation-3 {
	25% {
		transform: scale(0.8);
		z-index: -1;
	}
	50% {
		inset: var(--inset-anim);
	}
	70% {
		z-index: auto;
	}
	75% {
		transform: scale(2);
	}
}

.circle__item {
	width: 168px;
	padding-right: 40px;
	position: relative;
}
.circle__item::before {
	position: absolute;
	display: block;
	content: " ";
	width: 30px;
	height: 30px;
	right: 0;
	top: 0;
	background-image: url(../img/cricle_item.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.circle-3 .circle__item,
.circle-2 .circle__item {
	width: 150px;
}

.hero {
	height: 100vh;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100vw auto;
	position: relative;
}
.wrapper--main .header {
	position: absolute;
	background: transparent;
}
.wrapper--main .header__bottom {
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(10px);
}
.fp-watermark {
	display: none !important;
}
.hero__wrapper {
	position: relative;
}
.hero__item {
	width: 6.667vw;
	font-size: 0.833vw;
	line-height: 140%;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	text-align: center;
}
.hero__item--1 {
	top: 13.594vw;
	left: 13.49vw;
}
.hero__item--2 {
	top: 12.396vw;
	left: 32.708vw;
}
.hero__item--3 {
	top: 11.51vw;
	right: 34.271vw;
}
.hero__item--4 {
	top: 32.813vw;
	right: 14.792vw;
}
.hero__item--5 {
	bottom: 1vw;
	left: 47.344vw;
}
.hero__item--5 .hero__item-line {
	height: 3.8vw;
	margin-bottom: -1.5vw;
	-webkit-transform: scale(-1, -1);
	-moz-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	transform: scale(-1, -1);
}
.hero__item--5 .hero__item-line::before {
	bottom: 0;
	top: auto;
}
.hero__item-line {
	width: 1.563vw;
	height: 9vw;
	margin: 0 auto;
	margin-top: -0.8vw;
	position: relative;
}
.hero__item-line::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 1.563vw;
	height: 1.563vw;
	background-image: url(../img/circle_item.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.3s;
}
.hero__item-line::after {
	position: absolute;
	display: block;
	content: " ";
	width: 1px;
	top: 1.563vw;
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: all 0.3s;
	background: #fff;
}

.hero__item {
	opacity: 0;
	animation: itemCycle 12.5s infinite;
}

.hero__item-title {
	opacity: 0;
	transform: translateY(-10px);
	animation: titleAnim 12.5s infinite;
}

.hero__item-line::before {
	top: 0;
	opacity: 0;
	animation: dotAnim 12.5s infinite;
}

.hero__item-line::after {
	height: 0;
	opacity: 0;
	animation: lineAnim 12.5s infinite;
}


@keyframes itemCycle {
	0%, 20%, 100% {
		opacity: 0;
	}
	3%, 17% {
		opacity: 1;
	}
}

@keyframes titleAnim {
	0%, 4%, 100% {
		opacity: 0;
		transform: translateY(-10px);
	}
	6%, 14% {
		opacity: 1;
		transform: translateY(0);
	}
}


@keyframes dotAnim {
	0%, 6%, 100% {
		opacity: 0;
		top: 0;
	}
	8% {
		opacity: 1;
	}
	16% {
		top: 100%;
		opacity: 1;
	}
	18% {
		opacity: 0;
	}
}

@keyframes lineAnim {
	0%, 6%, 100% {
		height: 0;
		opacity: 0;
	}
	8% {
		opacity: 1;
	}
	16% {
		height: calc(100% - 1.563vw);
		opacity: 1;
	}
	18% {
		opacity: 0;
	}
}

.hero__item--1,
.hero__item--1 .hero__item-title,
.hero__item--1 .hero__item-line::before,
.hero__item--1 .hero__item-line::after {
	animation-delay: 0s;
}

.hero__item--2,
.hero__item--2 .hero__item-title,
.hero__item--2 .hero__item-line::before,
.hero__item--2 .hero__item-line::after {
	animation-delay: 2.5s;
}

.hero__item--3,
.hero__item--3 .hero__item-title,
.hero__item--3 .hero__item-line::before,
.hero__item--3 .hero__item-line::after {
	animation-delay: 5s;
}

.hero__item--4,
.hero__item--4 .hero__item-title,
.hero__item--4 .hero__item-line::before,
.hero__item--4 .hero__item-line::after {
	animation-delay: 7.5s;
}

.hero__item--5,
.hero__item--5 .hero__item-title,
.hero__item--5 .hero__item-line::before,
.hero__item--5 .hero__item-line::after {
	animation-delay: 10s;
}


.lead__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	overflow: hidden;
}
.lead__image {
	height: 100vh;
	opacity: 0;
	transition: all 0.6s;
	transition-delay: 0.5s;
}
.lead__head {
	transform: translateX(100%);
	opacity: 0;
	transition: all 1.5s;
	transition-delay: 1s;
}
.lead__text {
	transform: translateX(-100%);
	opacity: 0;
	transition: all 1.5s;
	transition-delay: 1s;
}
.active .lead__image {
	opacity: 1;
}
.active .lead__text,
.active .lead__head {
	opacity: 1;
	transform: none;
}
.lead__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.lead__content {
	padding-left: 2.604vw;
	padding-right: 2.344vw;
}
.lead__title {
	font-size: 4.167vw;
	margin-bottom: 0.208vw;
	line-height: 130%;
	text-transform: uppercase;
	font-weight: 300;
	color: var(--primary-color);
}
.lead__subtitle {
	font-size: 2.604vw;
	text-align: right;
	line-height: 130%;
	text-transform: uppercase;
	font-weight: 500;
	color: var(--primary-color);
}
.lead__head {
	margin-bottom: 5.729vw;
}
.lead__text {
	font-size: 1.458vw;
	max-width: 32.031vw;
	margin: 0 auto;
	line-height: 130%;
}
.lead__text ul {
	padding-left: 1.563vw;
}
.lead__text li {
	margin-bottom: 3.75vw;
	list-style-type: disc;
}
.wrapper--main .brands-main {
	top: 0;
}
.billbord--page .billbord__title {
	font-size: 80px;
	margin-bottom: 30px;
	line-height: 130%;
	font-weight: 500;
}
.billbord.billbord--page {
	padding: 0;
}
.billbord--page .main-image-wrapper {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.wrapper.wrapper--main {
	padding-top: 0;
}
.billbord--page .circle__item::before {
	display: none;
}
.billbord--page .circle__item {
	padding-right: 70px;
	width: 290px;
}
.circle__icon {
	width: 66px;
	height: 66px;
	top: 0;
	right: 0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e9eaed;
	position: absolute;
}
.circle__icon img {
	width: 36px;
}
.billbord--page .circle-1 {
	--inset: auto auto -40px calc(50% + 430px);
	--inset-anim: auto auto calc(50% + 12px) -500px;
	--delay: 0s;
	--rotation-name: rotation-1;
}
.billbord--page .circle-3,
.billbord--page .circle-2 {
	--inset: auto auto calc(50% + -12px) -430px;
	--inset-anim: auto auto -40px calc(50% + 250px);
	--delay: 0s;
	--rotation-name: rotation-2;
}
.billbord--page .circle-3 {
	--delay: 2.2s;
}
.billbord--page .fp-overflow {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.billbord-about {
	background-image: url(../img/billbord_about.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.billbord-about__content {
	min-height: 500px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.wrapper--about .header {
	position: fixed;
	background: transparent;
}
.wrapper--about .header__bottom {
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(10px);
}
.billbord-about__title {
	font-size: 50px;
	line-height: 130%;
	text-transform: uppercase;
	font-weight: 500;
}
.billbord-about__title span {
	font-size: 80px;
	line-height: 130%;
	font-weight: 300;
	display: block;
}
.page-about {
	padding-top: 45px;
	padding-bottom: 20px;
	overflow: hidden;
}
.unit-about {
	font-size: 18px;
	line-height: 160%;
	margin-bottom: 30px;
}
.unit-about__title {
	font-size: 50px;
	margin-bottom: 30px;
	line-height: 130%;
	text-transform: uppercase;
	font-weight: 500;
}
.unit-about .row>div>img {
	width: 100%;
	height: auto;
	display: block;
}
.unit-about .row {
	align-items: center;
}
.unit-about__content {
	padding: 0 45px;
}
.unit-about:nth-child(even) .row {
	flex-direction: row-reverse;
}
.slider-sertificats .slick-slide {
	padding: 0 12px;
}
.slider-sertificats .slick-list {
	margin: 0 -12px;
	overflow: visible;
}
.item-sertificat {
	padding-top: 139%;
	position: relative;
	display: block;
}
.item-sertificat img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.slider-sertificats {
	margin-top: 50px;
}
.consultation--page .consultation__title {
	font-size: 28px;
}
.consultation--page .consultation__descr {
	margin-bottom: 24px;
}
.unit-about p {
	margin-bottom: 15px;
}
.unit-about p:last-child {
	margin-bottom: 0;
}
.header.fixed {
	background: #fff;
}
.wrapper.wrapper--about {
	padding-top: 0;
}
.hero__btn {
	right: 2.375vw;
	bottom: 2.677vw;
	width: 12.583vw;
	height: 2.969vw;
	font-size: 0.833vw;
	border-radius: 0.313vw;
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: #fff;
	font-weight: 500;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.billbord-page {
	padding: 117px 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.billbord-page__title {
	font-size: 40px;
	margin-bottom: 36px;
	line-height: 160%;
	text-transform: uppercase;
}
.billbord-page__descr {
	font-size: 24px;
	margin-bottom: 54px;
	line-height: 133%;
	padding-bottom: 24px;
	border-bottom: 1px solid #e9eaed;
}
.billbord-page .btn-main {
	width: 350px;
	max-width: 100%;
}
.billbord-page__content {
	max-width: 1110px;
	margin: 0 160px;
}
.page-about--main .unit-about:nth-child(odd) .row {
	flex-direction: row-reverse;
}
.page-about--main .unit-about:nth-child(even) .row {
	flex-direction: row;
}
.unit-about .features__item {
	margin-bottom: 24px;
	font-weight: 500;
}
.unit-about .features__icon {
	width: 56px;
	height: 56px;
}
.unit-about .features__icon img {
	width: 30px;
}
.page-about--main .unit-about:nth-child(2) .features {
	max-width: 583px;
}
.video-main video {
	position: absolute;
	left: 50%;
	top: 50%;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	filter: grayscale(1);
}
.video-main {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}