/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1700px) {
    .item-contact {
        font-size: 18px;
    }
}
@media only screen and (max-width : 1600px) {
    body {
        font-size: 14px;
    }
    .logo img {
        width: 93px;
    }
    .header__right {
        gap: 65px;
    }
    .menu__list {
        gap: 42px;
    }
    .billbord__title {
        font-size: 105px;
    }
    .billbord__title strong {
        font-size: 79px;
    }
    .billbord__system {
        margin-top: -39px;
        margin-bottom: -50px;
        transform: scale(0.8);
        transform-origin: 50% 0%;
    }
    .breadcrumbs {
        padding: 22px 0;
    }
    .brands {
        padding: 0 60px;
        gap: 20px;
    }
    .brands__item {
        height: 70px;
    }
    .item-catalog__title {
        font-size: 17px;
        margin-bottom: 12px;
    }
    .features__item {
        gap: 12px;
    }
    .features__icon {
        width: 42px;
        height: 42px
    }
    .features__icon img {
        width: 20px;
    }
    .btn-main {
        height: 50px;
        padding: 0 20px;
        gap: 12px;
    }
    .row>div {
        padding: 0 8px;
    }
    .row {
        margin: 0 -8px;
    }
    .row.row_main>div {
        margin-bottom: 16px;
    }
    .row.row_main {
        margin-bottom: -16px;
    }
    .consultation__form {
        max-width: 425px;
    }
    .consultation__title {
        font-size: 27px;
        margin-bottom: 18px;
    }
    .consultation__descr {
        margin-bottom: 36px;
    }
    .item-form input {
        height: 47px;
        padding: 0 15px;
    }
    .consultation__buttons {
        padding-top: 15px;
        gap: 7px;
    }
    .consultation__buttons .btn-main {
        height: 58px;
        gap: 10px;
    }
    .btn-main img {
        width: 20px;
    }
    .consultation__image {
        height: 490px;
    }
    .labels__item {
        padding: 9px 21px;
    }
    .about__item-title {
        font-size: 25px;
        padding: 25px 20px;
    }
    .row_footer>div:not(:first-child) .footer__column {
        padding-top: 35px;
    }
    .footer .logo img {
        width: 131px;
    }
    .row_footer>div:nth-child(1) .footer__column {
        padding-left: 65px;
    }
    .footer__wrapper {
        padding-left: 65px;
        gap: 100px;
    }
    .footer__bottom {
        padding: 22px 0;
        margin-top: 55px;
        font-size: 12px;
    }
    .row_footer>div:nth-child(4) .footer__column, .row_footer>div:nth-child(2) .footer__column {
        padding-left: 30px;
    }
    .row_footer>div:nth-child(3) .footer__column {
        padding-left: 30px;
    }
    .brands-main {
        top: 149px;
    }
    .menu__dropdown {
        padding: 25px 60px;
        padding-bottom: 45px;
    }
    .menu__grid {
        gap: 20px;
    }
    .menu__unit {
        gap: 22px;
    }
    .menu__title {
        font-size: 26px;
        margin-bottom: 14px;
    }
    .menu__content ul li a {
        padding: 14px 0px;
        font-size: 17px;
    }
    .menu__image {
        height: 375px;
    }
    .menu__dropdown .brands {
        margin-bottom: 20px;
    }
    .item-news__title {
        font-size: 28px;
        margin-bottom: 7px;
    }
    .item-news__content {
        padding: 0 23px;
    }
    .item-news__top .item-news__date {
        left: 23px;
        bottom: 12px;
    }
    .item-news {
        margin: 0 6%;
    }
    .item-news__image {
        height: 320px;
        margin-bottom: 13px;
    }
    .col-lg-12>.item-news {
        margin: 0 13%;
    }
    .col-lg-12>.item-news .item-news__content {
        gap: 25px;
    }
    .row.row_news>div {
        margin-bottom: 45px;
    }
    .row.row_news {
        margin-bottom: -45px;
    }
    .pager {
        gap: 38px;
    }
    .page-numbers {
        font-size: 17px;
    }
    .title-page {
        font-size: 33px;
        margin-bottom: 25px;
    }
    .breadcrumbs.breadcrumbs_page {
        padding-bottom: 25px;
    }
    .title-card {
        font-size: 33px;
        margin-bottom: 15px;
    }
    .price-main {
        font-size: 21px;
    }
    .card-prices {
        margin-bottom: 20px;
    }
    .features.features--card {
        margin-bottom: 23px;
        gap: 6px;
    }
    .content-card .btn-main {
        width: 300px;
    }
    .content-card .dropdowns {
        margin-top: 35px;
    }
    .item-dropdown__head {
        font-size: 16px;
        padding: 11px 0;
    }
    .content-card {
        top: 150px;
    }
    .content-card__inner {
        margin-bottom: 53px;
        min-height: calc(100vh - 150px);
    }
    .title-section {
        font-size: 28px;
    }
    .feedback__content {
        padding: 60px 4%;
    }
    .feedback__main {
        max-width: 422px;
    }
    .article-main h1 {
        font-size: 34px;
        max-width: 650px;
        margin-top: 25px;
    }
    .article-main {
        height: 425px;
        padding: 30px 35px;
        margin-bottom: 34px;
    }
    .article-content h2 {
        font-size: 22px;
    }
    .item-location {
        padding-bottom: 20px;
        gap: 11px;
    }
    .item-location__title, .item-location__phone {
        font-size: 17px;
    }
    .item-location__contact {
        gap: 10px;
    }
    .item-location img {
        width: 21px;
    }
    .item-location__title {
        margin-bottom: 5px;
    }
    .page-centers .title-section {
        padding-top: 36px;
    }
    #map {
        height: 600px;
    }
    #map .item-location {
        max-width: 360px;
    }
    .item-contact__title {
        font-size: 27px;
    }
    .item-contact__location {
        margin-bottom: 20px;
    }
    .item-contact__location, .item-contact__requisites {
        padding-bottom: 18px;
    }
    .item-contact__requisites {
        font-size: 18px;
    }
    .page-contacts {
        padding-top: 35px;
        padding-bottom: 150px;
    }
    .form-page__title {
        font-size: 27px;
        margin-bottom: 15px;
    }
    .checkbox {
        font-size: 10px;
        margin-top: 19px;
    }
    .form-page__content {
        max-width: 325px;
    }

    .billbord__title {
        margin-bottom: -40px;
    }
    .main-image-wrapper {
        margin-bottom: -40px;
        transform: scale(0.8);
        transform-origin: 50% 0%;
    }
    .billbord--page .billbord__title {
        font-size: 65px;
        margin-bottom: 20px;
    }
    .consultation--page .consultation__title {
        font-size: 23px;
    }
    .unit-about__content {
        padding: 0 25px;
    }
    .unit-about {
        font-size: 15px;
    }
    .unit-about__title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .billbord-about__title {
        font-size: 46px;
    }
    .billbord-about__title span {
        font-size: 73px;
    }
    .billbord-page__title {
        font-size: 33px;
        margin-bottom: 23px;
    }
    .billbord-page__descr {
        font-size: 20px;
        margin-bottom: 44px;
        padding-bottom: 18px;
    }
    .billbord-page .btn-main {
        width: 300px;
    }
    .billbord-page {
        padding: 100px 0;
    }
    .billbord-page__content {
        max-width: 925px;
        margin: 0px 90px;
    }
    .unit-about .features__item {
        margin-bottom: 15px;
    }
    .unit-about .features__icon {
        width: 50px;
        height: 50px;
    }
    .unit-about .features__icon img {
        width: 25px;
    }
    .dropdown-city__title {
        font-size: 18px;
        padding-right: 22px;
        margin-bottom: 16px;
    }
    .dropdown-city {
        padding: 18px;
        min-width: 269px;
    }
    .dropdown-city .btn-main {
        font-size: 12px;
        height: 32px;
    }
    .modal-city__content {
        width: 660px;
    }
    .modal-city__search input {
        height: 38px;
        font-size: 14px;
    }
    .list-cities {
        gap: 4px;
    }
    .list-cities a {
        padding: 6px 10px;
        font-size: 12px;
    }
    .item-contact {
        font-size: 15px;
    }
    .item-contact .socials-list {
        margin-top: 19px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    body {
        font-size: 12px;
    }
    .item-catalog__title {
        font-size: 15px;
    }
    .header__right {
        gap: 33px;
    }
    .billbord__title {
        font-size: 90px;
    }
    .billbord__title strong {
        font-size: 65px;
    }
    .billbord__system {
        margin-top: -31px;
        margin-bottom: -160px;
        transform: scale(0.6);
        transform-origin: 50% 0%;
    }
    .brands {
        padding: 0;
        gap: 20px;
    }
    .consultation__form {
        max-width: 350px;
    }
    .consultation__title {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .consultation__descr {
        margin-bottom: 20px;
    }
    .consultation__buttons .btn-main {
        height: 48px;
    }
    .properties__item {
        gap: 15px;
    }
    .row_footer>div:nth-child(1) .footer__column {
        padding-left: 0;
    }
    .row_footer>div:nth-child(3) .footer__column,
    .row_footer>div:nth-child(4) .footer__column, .row_footer>div:nth-child(2) .footer__column {
        padding-left: 0;
    }
    .footer__wrapper {
        padding-left: 0;
        gap: 50px;
    }

    .menu__list>li {
        gap: 10px;
    }
    .menu__list {
        gap: 25px;
    }
    .about__item-title {
        font-size: 18px;
        padding: 19px 17px;
    }
    .item-news {
        margin: 0 1%;
    }
    .item-news__title {
        font-size: 24px;
    }
    .item-news__image {
        height: 260px;
    }
    .title-card {
        font-size: 27px;
    }
    .article-content {
        max-width: 85%;
    }
    .item-contact__title {
        font-size: 22px;
    }
    .item-contact__requisites {
        font-size: 15px;
    }
    .form-page__title {
        font-size: 24px;
    }
    .main-image-wrapper {
        margin-bottom: -120px;
        transform: scale(0.6);
    }
    .billbord__title {
        margin-bottom: -22px;
    }
    .hero {
        height: 56vw;
    }
    .fp-table {
        height: initial !important;
        min-height: auto !important;
    }
    .billbord-about__title {
        font-size: 40px;
    }
    .billbord-about__title span {
        font-size: 65px;
    }
    .unit-about__title {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .unit-about__content {
        padding: 0 15px;
    }
    .unit-about {
        font-size: 13px;
    }
    .billbord-page__content {
        margin: 0;
    }
    .item-contact {
        font-size: 13px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .header__bottom,
    .header__wrapper .header__info {
        display: none;
    }
    .header {
        padding: 10px 0;
        transform: none !important;
    }
    .logo img {
        width: 85px;
    }
    .billbord__title {
        font-size: 33px;
    }
    .billbord__title strong {
        font-size: 28px;
    }
    /* .billbord__item {
        font-size: 12px;
    }
    .billbord__item:nth-child(1) {
        top: auto;
        padding-left: 25px;
        margin-left: 0;
        width: 133px;
        left: auto;
        bottom: 75px;
        right: -23px;
        animation: initial;
    }
    .billbord__item:nth-child(2) {
        top: auto;
        padding-right: 20px;
        margin-right: 0;
        width: 94px;
        right: auto;
        left: -11px;
        bottom: 2px;
        animation: initial;
    }
    .billbord__item:nth-child(3) {
        top: -7px;
        padding-right: 25px;
        margin-right: 0;
        width: 125px;
        right: auto;
        left: -10px;
        text-align: right;
        animation: initial;
    }
    .billbord__item::before {
        width: 18px;
        height: 18px;
    }
    .billbord__system {
        width: 100%;
        max-width: 290px;
        height: auto;
        margin: 0 auto;
        margin-top: 15px;
        transform: none;
    } */
    .billbord__system {
        left: 50%;
        margin-top: 20px;
        margin-bottom: -360px;
        transform: scale(0.27) translateX(-50%);
        transform-origin: 0 0;
    }
    body {
        font-size: 14px;
    }
    .container {
        padding: 0 15px;
    }
    .brands {
        gap: 10px;
        flex-wrap: wrap;
    }
    .brands__item {
        height: 50px;
        width: 140px;
        flex: none;
    }
    .sorting-catalog select {
        padding-right: 30px;
    }
    .sorting-catalog {
        margin: 25px 0;
    }
    .item-catalog__title {
        font-size: 17px;
    }
    .row.row_main>div {
        margin-bottom: 22px;
    }
    .row.row_main {
        margin-bottom: -22px;
    }
    .consultation__image {
        width: 100%;
        height: auto;
    }
    .consultation__image img {
        object-fit: initial;
    }
    .consultation__form {
        padding: 35px 20px;
        max-width: 100%;
    }
    .consultation {
        padding-bottom: 40px;
    }
    .footer__requisites {
        margin-top: 25px;
    }
    .footer__wrapper {
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 22px 15px;
    }
    .footer__links {
        flex-wrap: wrap;
    }
    .footer__bottom {
        padding: 20px 0;
        margin-top: 34px;
    }
    .create img {
        width: 57px;
        margin-left: 7px;
    }
    .row_footer>div:not(:first-child) .footer__column {
        padding-top: 0;
    }
    .footer__content {
        padding: 10px 0;
        display: none;
    }
    .footer__title i {
        font-size: 90%;
        transition: all 0.3s;
    }
    .footer__title.active i {
        transform: rotate(180deg);
    }
    .footer__left {
        gap: 16px;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
    }
    .footer__nav--big li,
    .footer__title {
        margin: 0;
    }
    .footer__nav--big li a,
    .footer__title {
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
    }
    .open-search {
        width: 40px;
        height: 40px;
        background-size: 24px auto;
    }
    /*Style Sandwich*/
    .sandwich {
        width: 40px;
        height: 40px;
        padding-top: 13px;
        border-radius: 8px;
        background: var(--primary-color);
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 20;
        flex: none;
        cursor: pointer;
    }
    .sw-topper {
        position: relative;
        top: 0px;
        width: 22px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #fff;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sw-bottom {
        position: relative;
        top: 4px;
        width: 22px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #fff;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sw-footer {
        position: relative;
        top: 9px;
        width: 22px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #fff;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sandwich.active .sw-topper {
        top: 7px;
        transform: rotate(45deg);
    }
    .sandwich.active .sw-bottom {
        opacity: 0;
    }
    .sandwich.active .sw-footer {
        top: 3px;
        transform: rotate(-45deg);
    }
    .no-scroll {
        overflow: hidden;
    }
    .menu-overlay {
        top: 105px;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 300;
        display: none;
    }
    .wrapper {
        padding-top: 94px;
        overflow: hidden;
    }
    .header {
        position: fixed;
    }
    .header.nav-up {
        transform: translateY(-100px);
    }
    .header__bottom {
        width: 100%;
        padding: 20px 0;
        padding-bottom: 30px;
        margin: 0;
        top: 100%;
        left: 0;
        z-index: 600;
        background: #fff !important;
        position: absolute;
        backdrop-filter: initial !important;
        display: none;
        overflow: auto;
        max-height: calc(100vh - 70px);
    }
    .no-scroll .header {
        background: #fff;
    }
    .menu__list {
        display: block;
        background: transparent;
        padding: 0;
    }
    .menu__list>li>a {
        padding: 15px 0;
        font-size: 15px;
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
        display: flex;
        justify-content: flex-start;
    }
    .header__info {
        padding: 10px 0;
    }
    .menu__list>li>i {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.3s;
    }
    .menu__list>li {
        position: relative;
        display: block;
        padding: 0;
    }
    .menu__dropdown {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transition: initial;
        visibility: visible;
        opacity: 1;
        overflow: initial;
        max-height: initial;
        display: none;
        padding: 0;
        box-shadow: none;
    }
    .menu__grid {
        display: block;
    }
    .menu__image {
        display: none;
    }
    .menu__unit {
        margin-bottom: 15px;
        display: block;
    }
    .menu__unit:last-child {
        margin-bottom: 0;
    }
    .menu__list .active>i {
        transform: rotate(180deg);
    }
    .menu__title {
        font-size: 23px;
        margin-bottom: 5px;
    }
    .menu__list>li>a {
        border: none;
    }
    .billbord__image {
        padding: 0 30px;
    }
    .billbord {
        padding-bottom: 20px;
    }
    .item-news__content {
        padding: 0;
    }
    .item-news__title {
        font-size: 19px;
    }
    .row.row_news>div {
        margin-bottom: 30px;
    }
    .row.row_news {
        margin-bottom: -30px;
    }
    .item-news__top .item-news__date {
        bottom: 0;
        left: 0;
        position: relative;
    }
    .item-news {
        margin: 0;
    }
    .col-lg-12>.item-news {
        margin: 0;
    }
    .col-lg-12>.item-news .item-news__content {
        display: block;
        position: relative;
    }
    .item-news__date {
        margin: 0;
        margin-bottom: 10px;
    }
    .pager {
        gap: 33px;
    }
    .page-numbers {
        font-size: 16px;
    }
    .image-card {
        display: none;
    }
    .breadcrumbs.breadcrumbs_page {
        padding-bottom: 20px;
    }
    .breadcrumbs {
        display: block;
    }
    .breadcrumbs li {
        display: inline;
    }
    .features.features--card {
        grid-template-columns: repeat(1, 1fr);
    }
    .content-card .btn-main {
        width: 100%;
    }
    .title-section {
        font-size: 24px;
    }
    .content-card__inner {
        margin-bottom: 38px;
        min-height: initial;
    }
    .content-card {
        padding-top: 20px;
        top: 0;
        position: relative;
    }
    .property::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .page-card {
        padding-bottom: 50px;
    }
    .slider-card__item {
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider-card__item img {
        max-width: 100%;
        max-height: 100%;
    }
    .article-main {
        height: auto;
        min-height: 410px;
        padding: 30px 20px;
        margin: 0 -15px;
        margin-bottom: 30px;
    }
    .article-main h1 {
        font-size: 24px;
    }
    .article-content {
        max-width: 100%;
    }
    .article-content h2 {
        font-size: 20px;
    }
    .article-content p {
        margin: 15px 0;
    }
    .slider-photos .slick-slide {
        padding: 0 4px;
    }
    .slider-photos .slick-list {
        margin: 0 -4px;
    }
    .slider-photos {
        padding: 0 30px;
        margin: 20px 0;
    }
    .slider-photos .slick-prev {
        left: 0;
    }
    .slider-photos .slick-next {
        right: 0;
    }
    .page-article {
        padding-bottom: 35px;
    }
    .feedback__content {
        padding: 40px 15px;
    }
    .feedback .title-section {
        margin-bottom: 22px;
    }
    .feedback__descr {
        margin-bottom: 15px;
    }
    .col--checkbox {
        order: 2;
    }
    .feedback .checkbox {
        margin-top: 20px;
    }
    .feedback .item-form {
        margin-bottom: 18px;
    }
    .feedback {
        padding: 45px 0;
    }
    .item-location__title, .item-location__phone {
        font-size: 18px;
    }
    #map {
        height: 500px;
    }
    .page-centers {
        padding-bottom: 50px;
    }
    #map .item-location {
        max-width: 240px;
    }
    .item-contact {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .form-page {
        padding: 30px 15px;
    }
    .checkbox {
        font-size: 12px;
        margin-top: 21px;
    }
    .page-contacts {
        padding-top: 25px;
        padding-bottom: 55px;
    }
    .page-contacts .title-section {
        margin-bottom: 25px;
    }
    .page-news {
        padding-top: 10px;
    }
    .title-page {
        margin-bottom: 20px;
    }
    .property {
        margin-bottom: 5px;
        position: relative;
        align-items: flex-start;
    }
    .property__value span,
    .property__title span {
        background: #fff;
        position: relative;
        z-index: 2;
    }
    .item-contact__title {
        font-size: 20px;
    }

    .main-image-wrapper {
        margin-bottom: -220px;
        transform: scale(0.5);
    }
    .billbord__title {
        margin-bottom: -10px;
    }
    .billbord__background {
        width: 2000px;
        height: 2000px;
        animation: rotate-circle 10s linear infinite;
    }
    .lead__wrapper {
        display: block;
    }
    .lead__image {
        height: auto;
        opacity: 1;
    }
    .lead__text,
    .lead__head {
        visibility: visible;
        transform: none;
        opacity: 1;
    }
    .lead__title {
        font-size: 32px;
        margin-bottom: 0;
    }
    .fp-overflow {
        max-height: initial !important;
        overflow: initial !important;
    }
    .lead__subtitle {
        font-size: 20px;
        text-align: left;
        padding-left: 24px;
    }
    .lead__text {
        font-size: 15px;
        max-width: 295px;
    }
    .lead__text ul {
        padding-left: 20px;
    }
    .lead__text li {
        margin-bottom: 20px;
    }
    .billbord--page .billbord__title {
        padding-top: 40px;
        font-size: 30px;
        margin-bottom: 5px;
    }
    .lead__content {
        padding: 30px 15px;
    }
    .billbord--page .main-image-wrapper {
        margin-bottom: -220px;
    }
    .wrapper.wrapper--main {
        padding-top: 95px;
    }
    .wrapper--main .header {
        background: #fff;
        position: fixed;
    }
    #fullpage {
        transform: none !important;
    }
    .billbord-about__title {
        font-size: 28px;
    }
    .billbord-about__title span {
        font-size: 50px;
    }
    .page-about {
        padding-top: 35px;
    }
    .unit-about__content {
        padding: 0;
        padding-bottom: 25px;
    }
    .unit-about {
        font-size: 14px;
    }
    .unit-about__title {
        font-size: 25px;
    }
    .billbord-page__title {
        font-size: 22px;
        margin-bottom: 16px;
    }
    .billbord-page__descr {
        font-size: 15px;
        margin-bottom: 30px;
        padding-bottom: 15px;
    }
    .billbord-page .btn-main {
        padding: 0 50px;
        width: auto;
    }
    .billbord-page {
        padding: 70px 0;
    }
    .billbord-about__content {
        height: 500px;
        min-height: initial;
    }
    .hero__item--5 {
        bottom: 6vw;
    }

    .hero {
        height: 500px;
        width: 888px;
        background-size: cover;
        position: relative;
        animation: heroMove 12s ease-in-out infinite alternate;
        will-change: transform;
    }
    @keyframes heroMove {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(100vw - 888px));
        }
    }

    .hero__item {
        width: 70px;
        font-size: 9px;
    }
    .hero__item--1 {
        top: 120.7px;
        left: 119.8px;
    }
    .hero__item--2 {
        top: 110px;
        left: 290.4px;
    }
    .hero__item--3 {
        top: 102.2px;
        right: 304.3px;
    }
    .hero__item--4 {
        top: 285.4px;
        right: 126.3px;
    }
    .hero__item--5 {
        bottom: 64.9px;
        left: 416.5px;
    }
    .hero__item--5 .hero__item-line {
        height: 33.7px;
        margin-bottom: -13.3px;
        transform: scale(-1, -1);
    }
    .hero__item-line {
        width: 13.9px;
        height: 79.9px;
        margin-top: -7.1px;
    }
    .hero__item-line::before {
        width: 13.9px;
        height: 13.9px;
    }
    .hero__item-line::after {
        width: 1px;
        top: 13.9px;
    }
    .hero__btn {
        right: 15px;
        bottom: 15px;
        width: 148px;
        height: 40px;
        font-size: 11px;
        border-radius: 6px;
    }
    .modal-city__wrappper {
        padding: 0 15px;
    }
    .header__left .location-main {
        display: none;
    }
    .location-main__value {
        padding: 8px;
        gap: 15px;
    }
}

@media only screen and (max-width : 768px) {
    .main-image-wrapper {
        margin-bottom: -300px;
        transform: scale(0.35);
    }
    .billbord--page .main-image-wrapper {
        margin-bottom: -300px;
    }
    .billbord__title {
        margin-bottom: -10px;
    }
}

@media only screen and (max-width : 480px) {
    .item-news__image {
        height: 245px;
    }
    .main-image-wrapper {
        left: 42%;
        margin-top: 20px;
        margin-bottom: -340px;
        transform: scale(0.27) translateX(-50%);
        transform-origin: 0 0;
        position: relative;
    }
    .billbord--page .main-image-wrapper {
        margin-bottom: -340px;
    }

}

/*mobile first*/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .header__bottom,
    .menu__dropdown,
    .footer__content {
        display: block !important;
    }
    .show-mobile,
    .footer__title i,
    .sandwich {
        display: none !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        max-width: 100%;
    }
}

/*hovers*/
@media (hover: hover) {
    .item-catalog .btn-main:hover {
        background: var(--main-color) !important;
    }
    .btn-main:hover {
        background: var(--main-color);
    }
    .btn-main.btn-main--secondary:hover {
        background: #e9eaed;
        border-color: #e9eaed;
        color: var(--primary-color);
    }
    .btn-main.btn-main--secondary:hover img {
        filter: none;
    }
    .item-catalog:hover {
        box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.2)
    }
    .menu__list>li:hover>a {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    .menu__content ul li a:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
    }
    .footer__nav a:hover {
        border-color: #fff;
    }
    .unit-about .features__item:hover .features__icon,
    .socials-list a:hover img,
    .features__icon:hover {
        animation: pulse 0.6s infinite;
    }
    .about__item:hover .about__item-image img {
        transform: scale(1.05);
    }
    .footer__links a:hover {
        border-color: transparent;
    }
    .page-numbers:hover {
        color: var(--primary-color);
    }
    .item-news:hover .item-news__image img {
        transform: scale(1.05);
    }
    .hero__btn:hover {
        background: #e9eaed;
        border-color: #e9eaed;
        color: var(--primary-color);
    }
    .btn-main.btn-main--page:hover {
        color: #fff;
        border-color: var(--main-color);
    }
    .list-cities a:hover {
        background: var(--primary-color);
        color: #fff;
    }
}

/*mobile hovers*/
@media (hover: none) {
    .item-catalog .btn-main:active {
        background: var(--main-color) !important;
    }
    .btn-main:active {
        background: var(--main-color);
    }
    .btn-main.btn-main--secondary:active {
        background: #e9eaed;
        border-color: #e9eaed;
        color: var(--primary-color);
    }
    .btn-main.btn-main--secondary:active img {
        filter: none;
    }
    .item-catalog:active {
        box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.2)
    }
    .menu__list>li:active>a {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    .menu__content ul li a:active {
        color: var(--primary-color);
        border-color: var(--primary-color);
    }
    .footer__nav a:active {
        border-color: #fff;
    }
    .features__icon:active {
        animation: pulse 0.6s infinite;
    }
    .unit-about .features__item:active .features__icon,
    .socials-list a:hover img,
    .about__item:active .about__item-image img {
        transform: scale(1.05);
    }
    .footer__links a:active {
        border-color: transparent;
    }
    .page-numbers:active {
        color: var(--primary-color);
    }
    .item-news:active .item-news__image img {
        transform: scale(1.05);
    }
    .hero__btn:active {
        background: #e9eaed;
        border-color: #e9eaed;
        color: var(--primary-color);
    }
    .list-cities a:active {
        background: var(--primary-color);
        color: #fff;
    }
}